# Jupyter Notebook
### Teče kot strežnik na lokalnem računalniku.  Do njega se dostopa preko spletnega brskalnika. Omogoča interaktivno programiranje v pythonu, izpis rezultatov, shranjevanje v html itn.
### Koda se zapiše v celice in se požene z "run cell" ali z CTRL+ENTER

In [11]:
print ("Hello world")

Hello world again 2

# Inicializacija in uvoz knjižnic
### Pandas (uvožen kot pd) je odprtokodna knjižnica, ki zagotavlja visoko zmogljive in enostavne podatkovne strukture (tabele, "Data Frame") in orodja za analizo podatkov za programski jezik Python. Ko je Pandas podatkovna struktura inicializirana znotraj Jupyter Notebooka se izpiše kot (html) tabela.


### Sqlalchemy omogoča povezavo s podatkovno bazo, pošiljanje SQL ukazov in sprejem rezultatov. V povezavi s Pandas.read_sql funkcijo omogoča shranjevanje ter obdelavo podatkov.

In [2]:
from IPython.core.display import display, HTML
display(HTML("<style>.container { width:100% !important; }</style>"))
import pandas as pd
import numpy as np
import sqlalchemy as sa
from sqlalchemy import create_engine

##manjka password/engine da ne bo javno
# Set to database IP. This must be reachable from the machine where this script is ran. 
DB_IP='194.249.4.173'
# Set the database username and password
DB_USER= ""
DB_PASS= ""

# engine = create_engine('postgresql://'+DB_USER+':'+DB_PASS+'@'+DB_IP+'/rmbt')
engine = create_engine('postgresql://akos_js:JaymNod3@194.249.4.173:5432/rmbt')


def query( what, params=None ):
    return pd.read_sql(sa.text(what), engine, params=params)

### Primer ustvarjanja PandasDF

In [12]:
df = pd.DataFrame(np.random.randn(6,4),  columns=list('ABCD'))

In [13]:
df

          A         B         C         D
0  1.162093 -1.195556  0.717269 -0.566246
1 -0.650570 -1.211148 -0.605063  0.650589
2 -0.356358 -0.881014 -0.847170 -0.100457
3  1.171863 -0.273617 -0.894373 -0.188028
4  0.454564  0.858310 -0.426519  0.480219
5 -1.918462  0.667264  0.484513  0.772149